# Ignore following
Data/*
LitSurvey/*
Presentation/
Report/
Screenshot_20190606-105518~2.jpg
Soft/
Untitled Document 1
cavity_design.jam
finding_DAC_on_network.txt
ml_machine_setup.txt
src/Testing/*
src/modbus/*
src/__pycache__/*
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
